.box-cpn {
    width: 94%;
    margin: 14px auto;
    background-color: #fff;
    border-radius: 7px;
    box-shadow: 0 10px 16px #e7eaf0;
    overflow: hidden;
}

.title {
    position: absolute;
    width: 5px;
    height: 18px;
    left: 0px;
    top: 3px;
    border-radius: 10px;
}

.title-red {
    background: linear-gradient(#fe7a7d, #fe4f4f);
}

.title-orange {
    background: linear-gradient(#f8a435, #f99803);
}

.title-blue {
    background: linear-gradient(#81a4ff, #3498db);
}

.title-aqua {
    background: linear-gradient(#69d4d2, #36cdb7);
}

.point {
    position: absolute;
    width: 15px;
    height: 15px;
    left: 10px;
    top: 3px;
    border-radius: 50%;
}

.point-red {
    background: linear-gradient(#fe7a7d, #fe4f4f);
}

.point-orange {
    background: linear-gradient(#f8a435, #f99803);
}

.point-blue {
    background: linear-gradient(#81a4ff, #3498db);
}

.point-aqua {
    background: linear-gradient(#69d4d2, #36cdb7);
}

.point-green {
    background: linear-gradient(#2ecc71, #27ae60);
}

.point-gray {
    background: linear-gradient(#95a5a6, #bdc3c7);
}

.wrapper h4 {
    padding: 0 0 0 16px;
    margin: 10px 0 10px 0;
    position: relative;
}

.cpn h4 {
    padding: 0 0 0 30px;
    margin: 10px 0 0 0;
    position: relative;
    border-bottom: 1px dashed #95a5a6;
}

.border-b {
    border-bottom: 1px dashed #95a5a6;
    margin-bottom: 0
}

.wrapper {
    background-color: #f5f5f5;
}

.wrapper .clearfix {
    border: none;
}

.more {
    text-align: center;
    text-decoration: underline;
    color: #95a5a6;
}

.text {
    font-size: 14px
}

.text-gray {
    color: #57606f
}

.text-red {
    color: #fe4f4f
}

.text-orange {
    color: #f99803
}

.text-blue {
    color: #3498db
}

.text-aqua {
    color: #36cdb7
}

.text-green {
    color: #27ae60
}

.margin-10 {
    margin: 10px
}

.margin-r-10 {
    margin-right: 10px
}

.margin-l-10 {
    margin-left: 10px
}

.margin-t-10 {
    margin-top: 10px
}

.margin-b-10 {
    margin-bottom: 10px
}

.margin-l-30 {
    margin-left: 30px
}

.padding-10 {
    padding: 10px
}

strong {
    font-size: 16px
}

.nomp {
    margin: 0;
    padding: 0;
}

.box-cpn h4 {
    margin-bottom: 0
}